* {
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

p, h1, h2, ul {
    padding: 0;
    margin: 0;
}

header,
.hero,
.information,
.quote,
.call-to-action {
    display: flex;
    justify-content: center;
}

header,.hero {
    background-color: #1f2937;
    padding-bottom: 100px;
}

.hero {
    padding-bottom: 140px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 1em;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header-links,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 1em;
}

.hero-content {
    display: flex;
    width: 1000px;
    padding: 1em;
    gap: 4.2em;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
}

.hero-image {
    flex: 1;
    background-color: grey;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary {
    margin-bottom: 1em;
}

.sign-up {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    padding: 0.3em 1.7em;
}

.information-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 820px;
    padding: 1em;
}

.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 50px 0;
}

.media-container {
    display: flex;
    gap: 7%;
    margin-bottom: 100px;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.5em;
}

.media-image {
    min-width: 100px;
    width: 100%;
    aspect-ratio: 1;
    border: 3px solid #3882f6;
    border-radius: 15px;
}
.media-subtext{
    font-size: 18px;
    color: #666666;
}

.quote {
    background-color: #e5e7eb;
}

.quote-content {
    width: 775px;
    padding: 125px 1em;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote-person {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
    margin-right: 2em;
}

.call-content {
    width: 1000px;
    padding: 100px 1em;
}

.call-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 3em 7em;
    border-radius: 10px;
    align-items: center;
}

.call-text {
    display: flex;
    flex-direction: column;
}

.call-main {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.call-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.call-container > .sign-up {
    border: 2px solid white;
}

footer {
    background-color: #1f2937;
    padding: 2.5em 1em;
}

.footer-text {
    font-size: 18px;
    color: #f9faf8;
    margin: 0 auto;
    text-align: center;
}