* {
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

p, h1, h2, ul {
    padding: 0;
    margin: 0;
}

header, .hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 1em;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header-links,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 1em;
}

.hero-content {
    display: flex;
    width: 1000px;
    padding: 1em;
    gap: 4.2em;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
}

.hero-image {
    flex: 1;
    background-color: grey;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary {
    margin-bottom: 1em;
}

.sign-up {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    padding: 0.4em 1.6em;
}